---
eleventyExcludeFromCollections: true
permalink: "/admin/config.yml"
---
backend:
  name: github
  branch: main
  repo: "mwdelaney/11ty-meetup-project"
media_folder: "src/assets/images"
public_folder: "/assets/images"
collections:
  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    folder: "src/content/pages"
    create: true
    extension: "njk"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Permalink Override (Pattern: '/your-slug/')", name: "permalink", widget: "string", required: false }
      - label: "Components"
        name: "components"
        widget: "list"
        types:
          {%- for component in collections.components %}
          {%- if component.data.fields %}
          - label: "{{ component.data.title }}"
            name: "{{ component.data.title | slugify }}"
            widget: "object"
            fields:
              {{ component.data.fields | dump | safe }}
          {%- endif -%}
          {%- endfor -%}
