---
title: test
permalink: /test/
components:
  - type: callout
    heading: Callout heading from frontmatter
    description: Callout description from frontmatter
---

{% include "partials/components.njk" %}
